[submodule "Kashi"]
	path = Kashi
	url = https://github.com/Floaterest/Kashi.git
[submodule "Yomikata"]
	path = Yomikata
	url = https://github.com/Floaterest/Yomikata.git
[submodule "Timetable"]
	path = Timetable
	url = https://github.com/Floaterest/Timetable.git
