body{
    font-size: 3em;
}

table{
    border-collapse: collapse;
}

td, th{
    padding: 30px;
    text-align: center;
    border: solid 2px white;
}

td{
    font-family: 'Fira Code', sans-serif;
}
